.item {
    background-color:aquamarine;
    border: 1px solid #fff;
    min-height: 50px;
}

.container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "sidebar product product"
    "sidebar product product"
    "footer footer footer";
    grid-template-rows: 50px 1fr 100px;
    grid-template-columns: 200px 1fr 1fr;
    min-height: 100vh;
    position: relative;
    row-gap: 10px;
    column-gap: 10px;
}

.header {
    grid-area: header;
    position: sticky;
    top: 0;
    background-color : #f04721;
    display: flex;
}
.sidebar {
    grid-area: sidebar;
}
.list-products {
    grid-area: product;
    background-color: #fff;
}
.footer {
    grid-area: footer;
    background-color: #ccc;
}

.list-products {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px 15px;
}

.product-item {
    border: 1px solid #fff;
    background-color: #ccc;
}